# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
#.venv
#env/
#venv/
#ENV/
#env.bak/
#venv.bak/
.python-version

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary or log files
*.log
*.tmp

# Exclude Python compiled files (these need to be rebuilt)
__pycache__/
*.py[cod]
*$py.class
*.so
build/temp.*
build/lib.* 